<%- include("partials/header"); -%>
<h1>Contact Us</h1>
<p>
  We would love to hear from you! Whether you have questions, feedback, or just want to get in touch, feel free to reach out to us through the form below or via our social media channels.
</p>

<h3>Contact Details</h3>
<ul>
  <li><strong>Email:</strong> support@dailyjournal.com</li>
  <li><strong>Phone:</strong> +123 456 7890</li>
  <li><strong>Address:</strong> 123 XYZ., ABC, BL 45678</li>
</ul>

<p>Alternatively, you can also follow us and message us through our social media platforms:</p>
<ul>
  <li><a href="https://www.facebook.com/dailyjournal">Facebook</a></li>
  <li><a href="https://x.com/Adityakr024?t=uQtJ5afKfmFDAn3MaYA3YA&s=09">Twitter</a></li>
  <li><a href="https://www.instagram.com/___aditya___kr___?igsh=dm5yOW93a2kwZDcw">Instagram</a></li>
  <li><a href="https://www.linkedin.com/in/aditya-kumar-5b7756289/">Linkedin</a></li>
</ul>

<%- include("partials/footer"); -%>